<% content_for :head do %>
  <script>
    $(document).ready(function() {
      $('.shoot').click(function() {
        $.post('/game/shoot', {game_id: '<%= @game.id %>', coord: this.id});
     });
    });
  </script>
<% end %>

<h1>Battleship</h1>

<table class='board'>
  <tr>
    <th>Cpu Board</th>
    <th>Player Board</th>
  </tr>
  <tr>
    <td>
      <table class='grid'>
        <% @game.cpu_board.gsub(/\d/, 'O').scan(/.{10}/).each_with_index do |line, i| %>
          <tr>
          <% line.scan(/./).each_with_index do |symbol, j| %>
            <td id='<%= i*10+j %>' class='shoot grid<%= symbol %>'></td>
          <% end %>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table class='grid'>
        <% @game.player_board.scan(/.{10}/).each_with_index do |line, i| %>
          <tr>
          <% line.scan(/./).each_with_index do |symbol, j| %>
            <td id='p<%= i*10+j %>' class='grid<%= symbol %>'></td>
          <% end %>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td id='player_message'>Click the grid above to shoot.</td>
    <td id='cpu_message'></td>
  </tr>
</table>
